/* GLOBAL STYLES */

/*
===================================
GLOBAL STYLES FOR NON MOBILE SITE
===================================
*/

/** {color:#FF7900;} BE CAREFUL USING THIS GLOBAL SELECTOR */

/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Condensed:400,700);

html, body {
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#FFFFFF;
    /*font-family:'Lucida Sans', Verdana, sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size:16px;
    font-weight:500;
    color:#000000;
}

@media screen and (max-width: 600px) {

}

h1, h2, h3 {
    margin:0px;
    padding:0px;
    color:#8DC63F;  /*THIS IS GRANNY SMITH APPLE GREEN */
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size:3em; 
}

p {
    margin:15px 0px;
    line-height:22px;
    font-size:1.1em;
}

b, strong {
    color:#8DC63F;
}

a {
    color:#8DC63F;
    text-decoration:none;
}

a:hover {
    color:#FF7900;
    text-decoration:underline;
}

figure {
    margin:0px;
    padding:0px;
}

hr {
    margin-top:1em;
    margin-bottom:1em;
    -webkit-margin-top:25px;
    -webkit-margin-bottom:25px;
    -moz-margin-before:1em;
    -moz-margin-after:1em;
}

/* HEADER STYLES */

header {
    background-color:#F1F1F1
    /*height:150px;*/
}

#header {
    padding:15px 0px;
    position:relative;
}

#logo {
    padding:15px;
    color:#FF7900;
}

#logo:hover {
    color:#8DC63F;
    text-decoration:none;
}


/* NAVIGATION STYLES */

#menu {
    position:absolute;
    top:40px;
    right:5%;
}
 /* #menu ul {
    display:inline;
} */
#menu li {
    display:inline;
    margin:0px 10px;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
}

#menu li a:hover {
    text-decoration: none;
}

#menu li:after {
    content:"|";
    padding:16px 20px;
    color:rgb(141, 198, 63);
}

.currentPage a {
    color:#FF7900;
}

/* BANNER STYLES */

#bannerHome {
    border-top:3px solid #8DC63F;
    padding:80px 0px;
    background:url(../images/banner.jpg) no-repeat top center #FF7900;
    background-size:cover;
    overflow:hidden;
}

#bannerAbout {
    border-top:3px solid #8DC63F;
    padding:90px 0px;
    background:url(../images/banner-about.jpg) no-repeat center center #FF7900;
    background-size:cover;
    overflow:hidden;
}

#bannerContact {
    border-top:3px solid #8DC63F;
    padding:80px 0px;
    background:url(../images/banner-contact.jpg) no-repeat top center #FF7900;
    background-size:cover;
    overflow:hidden;
}

#bannerForms {
    border-top:3px solid #62A1E4;
    padding:30px 0px;
    background:url() no-repeat top center #FF7900;
    background-size:cover;
    overflow:hidden;
}

.bannerTitle {
    text-align:center;
    color:#FFFFFF;
    font-size:4em;
    text-shadow:6px 6px 6px #000000;
}


/*MAIN BODY SECTION*/

.mainWidth {
    width:1200px;
    margin:0px auto;
    padding-bottom:25px;
    overflow:hidden;
}

#main {
    margin-bottom:25px;
}

 /* COLUMN STYLES */

.columnA, .columnB, .columnC {
    width:384px;
}
.columnA, .columnB {
    float:left;
    margin-right:24px;
}
.columnC {
    float:right;
}

.columnA h2, .columnB h2, .columnC h2 {
    color:#8DC63F;
    font-size:2.2em;
    font-weight:900;
    text-transform:uppercase;
    text-align:center;
}

/*.likeImage {  THIS STYLE IS TEMPORARY UNTIL WE HAVE AN IMAGE IN ITS PLACE 
    width:384px;
    height:225px;
    background-color:#FF7900;
}*/

.likeImage span {
    display:block;
    background-color:#8DC63F;
    color:#FFFFFF;
    text-align:center;
    font-weight:700;
    font-size:2em;
    text-transform:uppercase;
    padding:18px 0px;
}

.columnA p, .columnB p, .columnC p {
    text-align:justify;
    padding:0px 0px 20px 0px;
}


/* BUTTON STYLES */

a.button, .button {
    background-color:#8DC63F;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    border:4px solid #60b636;
    color:#FFFFFF;
    font-weight:700;
    text-transform:uppercase;
    padding:15px 20px;
    font-size:1.6em;
}

a.button:hover, .button:hover {
    background-color:#6bc63f;
    border:4px solid #60b636;
    cursor:url(../images/hello-kitty.png), auto;
    text-decoration:none;
    color:#FFFFFF;
}

a.buttonRed {
    
}
a.buttonRed:hover {
    
}

#bannerButton {
    text-align:center;
    margin:25px 0px;
}

.btn {
    margin:35px 0px;
}

/*ABOUT ME STYLES*/

.alignLeft {
    float:left;
    width:384px;
    margin-right:24px;
}

.alignRight {
    float:right;
    width:792px;
    text-align:justify;
}

/*   FOOTER STYLES  */

footer {
    margin-top:26px;
}

footer p {
    text-align:center; /* HELP ME CENTER THIS TEXT */
    font-size:18px; /* HELP ME INCREASE MY FONT SIZE */
}

footer p a {
    color:#FF7900;
}

footer p a:hover {
    color:#8DC63F;
    text-decoration:none;
}

.copyright {
    overflow:hidden;
    padding:30px 0px;
    border-top: 3px dotted #8DC63F;
    background-color:#E2E2E2;
}

.social {
    text-align:center;
}

/* ================ TABLE STYLES =================== */
table {
    border-radius:8px;
    background-color:#FFFFFF;
}

#myData {
    margin:0px auto;
    width:900px;
}
#myHeader tr th {
    background-color:#8DC63F;
    color:#FFFFFF;
    text-shadow:1px 1px 2px #000000;
    padding:20px 0px;
    font-size:1.3em;
}

#groupData {
    margin:0px auto;
    width:900px;
}
#groupHeader > tr > th {
    background-color:#009999;
    color:#FFFFFF;
    text-shadow:1px 1px 2px #000000;
    padding:20px 0px;
    font-size:1.3em;
}
tr:hover {
    background-color:#E5FFE5;
}

tr th {
    background-color:#C9C9C9;
}

tfoot > tr {
    background-color:#FFFFA1;
    text-align:center;
}

.grayCell {
    background-color:#F1F1F1;
}

/*FORMS STYLES*/

.form {
    margin:50px 50px;
    background-color:#F1F1F1;
    border-radius:15px;
    padding:25px;
    width:25%;
}

input, textarea {
    border-radius:10px;
    border:2px solid #C3C3A2;
    box-shadow:1px 1px 1px #DDD inset;
    color:#C3C3A2;
    display:block;
}

textarea {
    height:200px;
}

/*EXTRA STYLES */

fieldset {background-color:#FFFFFF;}

.label {
    color:#FF0000;
    font-weight:900;
}

.fa {
    background-color:rgb(141,198,63);
    border:3px solid #FFF;
    border-radius:100%;
    font-size:2em !important;
    margin:15px;
    color:#FFF;
    height:58px;
    width:58px;
    padding:10px;
    text-align:center;
}

.fa:hover {
    background-color:#FF7900;
}

.fa-facebook {background-color:#0C516E;}
.fa-twitter {background-color:#8CA6D9;}

#wufoo-z17s4yk416p8kx4, #contactForm {
    width:90%;
    border-radius:6px;
    background-color:#F1F1F1;
    margin:20px auto;
    border:4px solid #FF7900;
}

/*TABLET SCREENS */
@media screen and (max-width:1024px) {

}








